body{
    font-family: Roboto;
    background-image: url('../../img/fondo.png');
    background-size: cover;
    height: 100%;
}

.preloader{
    width:100%;
    height:100%;
    top:0px;
    position:fixed;
    z-index:99999;
    background:#fff}

.flex{
    display: flex;
}

.justify-content-start{
    justify-content: start;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.returnHome{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-size: 50px;
  color: rgb(151, 140, 240);
}

.mt-20{
  margin-top: 20px;
}

.mt-30{
  margin-top: 30px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-30{
  margin-bottom: 30px;
}

table{
  table-layout: fixed;
  text-align: center;
}

@media(max-width:450px){
  table{
    width: auto !important;
    max-width: auto !important;
  }
}

thead th{
  text-align: center;
}

.contenedorTabla{
  overflow-x: auto;
}
